
<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal_pdf">Vista Previa</button>
<a href="{ruta_pdf}" class="btn btn-info btn-sm" role="button" download>Descargar PDF</a>


<!--Inicio Modal-->
<div class="modal fade" id="modal_pdf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Vista Previa PDF</h4>
            </div>
            <div class="modal-body">
                <iframe id="iframeVisualizadorPdf" width="100%" height="450px" src="{ruta_pdf}"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal-->