{namespace html= Francisco\EditorPDF\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="example" options="{group: 'Francisco'}" label="Editor PDF" description="Se recibe codigo html y se inserta en en una plantilla preconfigurada PDF">
			<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:flexform tag -->
			<flux:form.sheet name="codigoHTML" label="HTML">
				<flux:field.input name="servicioHTML" label="URL del servicio"></flux:field.input>
				<flux:field.text name="textoHTML" label="Ingrese Codigo HTML (Solo si desea generar un PDF de prueba)" cols="50"/>
				<flux:field.input name="nombreArchivo" label="Ingrese nombre para el archivo PDF (Solo si desea generar un PDF de prueba)" placeholder="Archivo de Prueba"></flux:field.input>
				<flux:field.input name="rutaSalida" label="Ingrese ruta de salida del archivo (Solo si desea generar un PDF de prueba)" placeholder="fileadmin/Archivos_PDF/"></flux:field.input>
			</flux:form.sheet>
			<flux:form.sheet name="agregarImagen" label="Imagenes">
				<flux:field.input name="servicioImagen" label="URL del servicio"></flux:field.input>
			</flux:form.sheet>
			<flux:form.sheet name="agregarTexto" label="Textos">
				<flux:field.input name="servicioTexto" label="URL del servicio"></flux:field.input>
			</flux:form.sheet>
 		</flux:form>
	</f:section>

	<f:section name="Preview">
		<!-- If you wish, place custom backend preview content here -->
	</f:section>

	<f:section name="Main">
		<html:EditorPDF textoHTML="{textoHTML}" nombreArchivo="{nombreArchivo}" rutaSalida="rutaSalida" servicioHTML="{servicioHTML}" servicioImagen="{servicioImagen}"
		servicioTexto="{servicioTexto}"/>
	</f:section>
</div>
